body, h1, h2, p, ul {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    
}

header {
    background-color: #223d67;
    color: #cecfe2;
    text-align: center;
    padding: 100px 0;
}

header h1 { /*Parte que cuida do TÍTULO*/
    font-size: 5em;
}
.imagemlogo { /*Parte que cuida do logo da âncora*/
    position: relative;
    width: 100px;
    border-radius: 40%;
    overflow: hidden;
    border: 2px solid #cecfe2;
}


main {
    padding: 50px;
}

.sec1 { /*Parte que cuida das informações*/
    max-width: 800px;
    margin: 0 auto;
    
}
.vem{ /*Parte que cuida do "Vem pro anc"*/
    text-align: center;
    padding-top: 10px;
    padding-bottom: 45px;

}

.sec2 { /*Parte que cuida do mapa*/
    text-align: center;
    padding: 10px;
    width: 100%;
    background-color: #cecfe2;
    border-radius: 10px;
    text-transform: uppercase;
}


a { /*Parte que cuida do link do ancoinsta*/
    color: #223d67;
    text-decoration: none;
    font-weight: bold;
}
a:hover{
    color: chocolate;
}


footer { /*Rodapééé*/
    background-color: #223d67;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    
}

